@import "utils/reset";
@import "utils/vars";
@import "utils/fonts";

html {
	font-size: $base-font-size;
	margin-right: 0 !important;
	height: 100%;
}


body {
	height: 100%;
	color: $txt-black;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 150%;
	letter-spacing: 0em;
	font-family: 'Montserrat-custom', Roboto, 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Helvetica Neue';
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {flex: 1 0 auto}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px
}

// Модули
@import "pages/pages";
@import "modules/modules";