header.header
	.container
		.header__wrap
			.header__logo
				a(href='/') 
					img(src='static/images/general/logo.svg', alt='tilda')
			.header__basket
				button(type='button')
					+icon('basket')