@import "./vars";

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, 
figure, figcaption, blockquote,
dl, dd {
  margin: 0;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

input,
button,
textarea,
select {font: inherit}

input, textarea {
	// color: ;
	font-family: 'Montserrat-custom', Roboto, 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Helvetica Neue';
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	outline: none;
	resize: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	transition: $base-transition;
	&::placeholder {
		// color: ;
		font-family: 'Montserrat-custom', Roboto, 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Helvetica Neue';
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		transition: $base-transition;
	}
	&:focus, &:active {
		outline: none !important;
		box-shadow: none !important;
	}
	&::-ms-clear, 
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {display: none}
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	&:active, &:focus {outline: none}
	&::-moz-focus-inner {border: 0}
}

a {
	color: inherit;
	transition: $base-transition;
	&:hover, &:active {
		text-decoration: none;
		color: inherit;
	}
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

svg {transition: fill $base-transition, transform $base-transition}

// Удаляем все анимации и переходы для людей, которые предпочитай их не использовать
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}