.p-product
    .container
        .p-product__content#container
            .p-product__wrap
                .p-product__image
                    .p-product__main-image
                        img(src='https://static.tildacdn.com//tild3235-6561-4364-a534-623132376536//HDTwo_AngleUp_OnGray.jpeg', alt='')
                    .p-product__gallery
                        .p-product__item.active
                            img(src='https://static.tildacdn.com//tild3235-6561-4364-a534-623132376536//HDTwo_AngleUp_OnGray.jpeg', alt='')
                        .p-product__item
                            img(src='https://static.tildacdn.com//tild3036-3464-4130-b033-376664633332//HDTwo_Rotated_OnGray.jpeg', alt='')
                .p-product__description
                    .p-product__description-top
                        .p-product__title Studio Headphones
                        .p-product__text When we first checked out our new headphones, we noticed the box said 'improved bass by cool. We had to wonder, is this marketing jargon, or the real thing? But it only took a moment to realize that bass was not kidding.
                        .p-product__counter In stock 9
                    .p-product__description-bottom
                        .p-product__wrap-price
                            .p-product__new-price 1500$
                            strike.p-product__old-price 1200$
                        .p-product__add-basket
                            button.btn.btn--green(type='button' js-add-basket) add basket